.AppHeader {
  padding: 0 15px;
  height: 50px;
}

.AppBody {
  position: absolute;
  height: calc(100% - 50px);
  width: 100%;
  display: flex;
}

.AppExplorer {
  flex: 0 0 250px;
  padding: 15px;
  border-right: 1px solid #8c8c8c;
}

.AppTools {
  flex: 0 0 350px;
  padding: 15px;
}

.AppSource {
  display: flex;
  padding: 15px;
  flex: 1 1 0;
  border-right: 1px solid #8c8c8c;
}